### Project docs ###
HELP.md

### Maven / Spring Boot ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log
logs/

### Application config sensibili ###
src/main/resources/application.properties
src/main/resources/application-*.properties

# Mantieni versionabile un template
!src/main/resources/application-example.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db